.my-review{
    border-bottom:blue solid 2px;
    height: auto;
    min-height: 500px;
    margin-top: 30px;
}

.my-review img{
    object-fit: cover;
    max-height: 100%;
    max-width: 100%;
    border-radius: 20px;

}

.my-review h1{
    font-family: Montserrat;
    font-weight: 300;
}

.my-review p{
    font-size: 1.2rem;
    color:black;
}

.review-btn .btn{
width: 100%;
}